@model string
@{
    Layout = null;
    String styleAttribute = @"display: inline;font-weight: 700;line-height: 1;
color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;
border-radius: .25em;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background:red;width:auto;";               
                                                         
}

 <div class="_5dbb">
    <div class="uiStickyPlaceholderInput uiStickyPlaceholderEmptyInput">
        <span style="@styleAttribute">@Html.ValidationMessageFor(m => m)</span>
        @if (ViewData.ModelMetadata.DataTypeName == "Password")
        {
            @Html.PasswordFor(m => m, new { @class = "inputtext _58mg _5dba _2ph-", @placeholder = ViewData.ModelMetadata.DisplayName, @autocomplete = "off" })
        }
        else
        {   
            @Html.TextBoxFor(m => m, new { @style = "height:15px !important;", @class = "inputtext _58mg _5dba _2ph-", @placeholder = ViewData.ModelMetadata.DisplayName, @autocomplete = "off" })
        }
               
        
    </div>
    
    <i class="_5dbc img sp_W39fzL2lt2n sx_024af9"></i><i class="_5dbd img sp_W39fzL2lt2n sx_52425c">
    </i>
</div>