img.pos_fixed {
    position: fixed;
    top: 30px;
    left: 100px;
    
}

#signleft{
right: 5px;
}
.UIContentTopper {
    border-top: 2px solid #D3DAE6;
    margin: 50px auto 15px;
    padding: 14px 0 0 17px;
}
.UIContentTopperSlim {
    margin: 0 auto 15px;
    padding: 0 0 0 17px;
}
.UIContentTopper_footer {
    font-size: 9px;
    margin: 5px auto 0;
    width: 578px;
}
.UIContentTopper_text_container {
    float: left;
    margin-top: 6px;
    width: 465px;
}
.UIContentTopper_text_headline {
    font-size: 15px;
    font-weight: bold;
}
.UIContentTopper_text {
    font-size: 11px;
    margin-top: 4px;
}
.UIContentTopper_large .UIContentTopper_text {
    width: 400px;
}
.UIContentTopper_text_bold {
    font-weight: bold;
}
.UIContentTopper_thumbnail {
    float: left;
    margin: 0 15px 0 0;
}
.UIContentTopper .verticalAlign {
    margin-top: 8px;
}
.fbForBusinessWrapper {
    margin: 0 auto;
    width: 980px;
}
.fbForBusinessContent {
    border-bottom: 1px solid #F2F2F2;
    position: relative;
}
.fbForBusinessNoBorder {
    border-bottom: medium none;
}
.fbForBusinessRightCol img {
    background-color: #CCCCCC;
    border: 5px solid #F9F9F9;
    float: right;
    padding: 1px;
}
.fbBusinessHomeVideo {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.fbForBusinessContent img, .fbForBusinessFloatedLeft {
    display: block;
    float: left;
}
.fbForBusinessPageHeader {
    margin-top: 40px;
}
.fbForBusinessHomePageHeaderText {
    margin-top: 50px;
}
.fbMarketingMenu {
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}
.fbMarketingMenu a {
    border-top: 1px solid #E5E5E5;
    display: block;
    font-size: 13px;
}
.fbForBusinessMenuLast a {
    border-bottom: 1px solid #E5E5E5;
}
.fbMarketingMenu a.currentPage, .fbMarketingMenu a:hover {
    background: url("/rsrc.php/v2/yK/r/9a4ELUaKgl6.png") no-repeat scroll right center #F9F9F9;
    text-decoration: none;
}
.fbForBusinessHelpfulLinks ul {
    list-style: none outside none;
    margin-left: 0;
    padding-left: 0;
}
.fbForBusinessHelpfulLinks ul li {
    font-size: 11px;
    line-height: 1.5;
}
.fbForBusinessHelpfulLinks div {
    color: #666666;
    font-size: 11px;
}
.fbForBusinessTip {
    background: url("/rsrc.php/v2/yb/r/qt94E91uvnk.png") no-repeat scroll 15px 10px #F9F9F9;
    border: 1px solid #CCCCCC;
    padding-left: 40px;
}
.fbForBusinessList li div {
    color: #999999;
    font-size: 15px;
    line-height: 20px;
}
.fbForBusinessBold, .fbForBusinessList li .fbForBusinessBold {
    color: #333333;
}
.fbForBusinessEdit {
    background-color: #F1F1F1;
    border: 1px solid #FFFFFF;
    bottom: 0;
    color: #333333;
    font-size: 9px;
    position: absolute;
    right: 0;
}
.fbForBusinessEdit:hover {
    background-color: #999999;
    color: #FFFFFF;
    text-decoration: none;
}
.fbForBusinessNoBorder .fbForBusinessEdit {
    display: none;
}
.fbForBusinessWrapper .fbForBusinessAttachments {
    background: url("/rsrc.php/v2/yK/r/PVoadHmz34X.png") no-repeat scroll center top transparent;
    list-style: none outside none;
    margin-left: 0;
    padding-left: 0;
    padding-top: 47px;
    width: 448px;
}
.fbForBusinessAttachmentsEnclosure {
    background: url("/rsrc.php/v2/yw/r/rlgjEUjSSWK.png") no-repeat scroll center bottom transparent;
    padding-bottom: 37px;
    width: 448px;
}
.fbForBusinessAttachments li {
    background: url("/rsrc.php/v2/yn/r/MLZBR-n8e2A.png") no-repeat scroll left center transparent;
    line-height: 21px;
}
.fbForBusinessAttachments li a {
    display: inline-block;
    padding-left: 40px;
}
.fbForBusinessAttachments li.pdf a {
    background: url("/rsrc.php/v2/yV/r/XDUpQ0U94hl.png") no-repeat scroll 10px center transparent;
}
.fbForBusinessSmallList li a {
    font-size: 11px;
    line-height: 16px;
}
.fbForBusinessFooter {
    background-color: #F9F9F9;
}
.fbForBusinessFooterLink {
    font-size: 13px;
    line-height: 25px;
}
.fbForBusinessOrderedList {
    color: #999999;
    margin-left: 12px;
    padding-left: 0;
}
.videoSessionsLink {
    background: url("/rsrc.php/v2/yt/r/RoZBNsVW0yX.png") no-repeat scroll left center transparent;
    display: block;
    min-height: 15px;
    padding-left: 20px;
}
.fbForBusinessBigButton {
    width: 200px;
}
.fbForBusinessBlock {
    width: 150px;
}
#captcha fieldset {
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    margin: 0;
    padding: 10px;
}
#captcha legend {
    color: gray;
}
#captcha .divider {
    display: none;
}
#captcha .captcha_refresh {
    color: gray;
    font-size: 9px;
}
#captcha .recaptcha_text {
    font-size: 11px;
    line-height: 16px;
}
#captcha .captcha_optout {
    font-size: 11px;
    padding: 10px 0 5px;
}
#captcha #recaptcha_image {
    font-weight: bold;
    margin: 10px 0 0;
}
#captcha #recaptcha_image a.recaptcha_audio_cant_hear_link {
    font-size: 9px;
    font-weight: normal;
}
#captcha .captcha_loading {
    border: 0 none;
}
#captcha .captcha_image img {
    border: 1px solid #C0C0C0;
}
#captcha .captcha_input input {
    direction: ltr;
    margin-top: 4px;
    width: 137px;
}
#captcha .captcha_input label {
    margin-right: 4px;
}
.register #captcha .captcha_input label {
    color: #666666;
    font-weight: bold;
}
#generic_dialog.captcha .generic_dialog_popup {
    width: 340px;
}
#generic_dialog.captcha #generic_dialog_popup {
    border: 0 solid white;
    margin: auto;
}
#generic_dialog.captcha #generic_dialog_popup legend {
    display: none;
}
.audiocaptcha {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.audiocaptcha a {
    display: block;
}
.recaptcha_is_showing_audio .recaptcha_only_if_image {
    display: none !important;
}
.recaptcha_is_showing_audio .recaptcha_only_if_audio {
    display: inline !important;
}
.captcha_interstitial {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    margin: 20px auto;
    padding: 20px;
    width: 555px;
}
.fbIndex .uiWashLayoutBlueWash {
    background-color: #DDE2ED;
}
.fbIndex .contentContainer {
    margin: 0 auto;
    width: 980px;
}
.fbIndex .bodyWash {
    margin-bottom: 0;
}
.fbIndex .locales {
    margin: 10px auto 0;
    width: 980px;
}
.fbIndex .gradient {
    background: -moz-linear-gradient(white, #D3D8E8) repeat scroll 0 0 transparent;
}
.fbIndex .gradient {
    min-width: 980px;
}
.fbIndex .gradient .gradientContent {
    margin: 0 auto;
    width: 980px;
}
._5iyz {
    max-width: 400px;
}
._5iyx {
    color: #0E385F;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
._5iyy {
    margin-right: 15px;
    width: 565px;
}
.fbIndexMap .title {
    color: #0E385F;
    font-size: 20px;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
.fbIndexMap .map {
    background: url("/rsrc.php/v2/yx/r/pyNVUg5EM0j.png") no-repeat scroll 0 0 transparent;
    height: 195px;
}
.fbIndexMobile {
    background: url("/rsrc.php/v2/yK/r/BFOd681AL3h.png") no-repeat scroll left bottom transparent;
    height: 295px;
    padding-top: 45px;
    width: 537px;
}
.fbIndexMobile .phoneImage {
    margin-left: 50px;
}
.fbIndexMobile .rightSide {
    width: 370px;
}
.fbIndexMobile .title, .fbIndexMobile .subtitle {
    color: #203360;
}
.fbIndexMobile .title {
    font-size: 20px;
    font-weight: normal;
}
.fbIndexMobile .subtitle {
    font-size: 15px;
}
.fbIndexMobile .mobileButton {
    margin-top: 55px;
}
.fbIndexFeaturedRegistration .feature {
    width: 550px;
}
.fbIndexFeaturedRegistration .signupForm {
    padding: 43px 0 0 15px;
    width: 383px;
}
.fbIndexFeaturedRegistration .headerTextContainer {
    border-bottom: 1px solid #9AAFCA;
}
.fbIndexFeaturedRegistration .mainTitle {
    color: #0E385F;
    font-size: 18px;
}
.fbIndexFeaturedRegistration .subtitle {
    color: #0E385F;
    font-size: 15px;
}
.fbIndexFeaturedRegistration #reg_box .large_form label {
    font-weight: normal;
}
._50dz .detailColumn {
    display: inline-block;
    text-align: center;
    width: 312px;
}
._50dz .detailColumn.notLast {
    margin-right: 22px;
}
._50dz .detailText {
    font-size: 15px;
    line-height: 20px;
    padding: 0 20px;
}
._50dz .more {
    margin: 20px 0 40px;
    padding: 20px 0;
    text-align: center;
}
._50dz .more h3 {
    padding-top: 20px;
}
._50dz .moreLinks {
    font-size: 17px;
    line-height: 22px;
}
._50dz .aboutPageContent h3 {
    font-size: 19px;
    line-height: 126%;
    margin: 10px 0;
}
._50dz .aboutPageContent {
    margin: 20px auto;
    width: 980px;
}
.menu_login_container table tr {
    vertical-align: top;
}
.menu_login_container table tr td {
    padding: 0 0 0 0px;
}
.menu_login_container .html7magic {
    padding-bottom: 4px;
}
.menu_login_container .inputtext, .menu_login_container .inputpassword {
    border-color: #1D2A5B;
    margin: 0;
    width: 142px;
}
.menu_login_container .login_form_label_field label, .menu_login_container .login_form_label_field a {
    color: White;
    font-weight: normal;
    background-color:rgb(193,0,0);
    font-size:14px;
}

.menu_login_container .login_form_label_field label:hover, .menu_login_container .login_form_label_field a:hover {
    color: Maroon;
    font-weight: normal;
    background-color:White;
    font-size:14px;
}
.menu_login_container .login_form_label_field {
    padding-top: 4px;
}
.menu_login_container .html7magic label {
    color: #000000;
    font-weight: normal;
    padding-left: 1px;
}
.menu_login_container #email {
    direction: ltr;
}
.login_form_standalone_labels .inputtext, .login_form_standalone_labels .inputpassword {
    border-color: #96A6C5;
    font-size: 16px;
    padding: 0px;
    width: 250px;
}
.login_form_standalone_labels label {
    color: #1D2A5B;
    font-size: 13px;
    font-weight: normal;
}
.login_form_standalone_labels .login_form_label_field a {
    color: #3B5998;
    font-size: 13px;
}
.login_form_standalone_labels td.html7magic {
    text-align: right;
}
.login_form_standalone_labels .uiButton input {
    font-size: 13px;
    padding: 3px 25px 5px;
}
table.login_form_standalone_labels tr td {
    height: 30px;
    padding: 0;
    vertical-align: middle;
}
._6_ {
    display: inline-block;
    vertical-align: top;
}
._70 {
    width: 67px;
}
._71 {
    width: 150px;
}
._72 {
    width: 233px;
}
._73 {
    width: 316px;
}
._74 {
    width: 399px;
}
._75 {
    width: 482px;
}
._76 {
    width: 565px;
}
._77 {
    width: 648px;
}
._78 {
    width: 731px;
}
._79 {
    width: 814px;
}
._7a {
    width: 897px;
}
._7b {
    width: 980px;
}
._7c {
    margin-left: 15.999px !important;
}
._7d {
    margin-right: 15.999px !important;
}
._6j {
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
._6nw ._6j {
    font-size: 23px;
}
._6j:hover {
    text-decoration: none;
}
._6wk {
    padding: 20px 30px;
}
._6wl {
    background: -moz-linear-gradient(#ffaf46, #e59d3f) repeat scroll 0 0 #FFAF46;
    border-color: #ffb758 #ffb758 #ffbf6a;
    box-shadow: 0 1px 1px #ffd7a2 inset;
}
._6wl:hover {
    background: -moz-linear-gradient(#ffaf46, #FFAF46) repeat scroll 0 0 transparent;
}
._6wm {
    border-width: 0;
    box-shadow: 0 1px 1px #ACEE8F inset, 0 1px 5px #000000;
}
._6wm:active {
    box-shadow: 0 1px 1px #ACEE8F inset, 0 0 3px #000000;
}
._6wn {
    background: -moz-linear-gradient(#698FBF, #506FA5) repeat scroll 0 0 #6079AE;
    border-color: #29487C #29487C #1A3A6D;
    box-shadow: 0 1px 1px #96B7F1 inset;
}
._6wn:hover {
    background: -moz-linear-gradient(#7D9DCE, #506FA5) repeat scroll 0 0 transparent;
}
._6wo {
    border-width: 0;
    box-shadow: 0 1px 1px #96B7F1 inset, 0 1px 5px #000000;
}
._6wo:active {
    box-shadow: 0 1px 1px #96B7F1 inset, 0 0 3px #000000;
}
._6j:active {
    top: 1px;
}
._67u, ._67u:hover, ._67u:active {
    background: -moz-linear-gradient(#FDFDFD, #E5E5E5) repeat scroll 0 0 #FDFDFD;
    border-color: #A6A6A6 #959595 #959595;
    box-shadow: 0 1px 1px #FFFFFF inset;
    color: #B8B8B8;
    cursor: default;
    text-shadow: none;
    top: 0;
}
._6wp {
    box-shadow: 0 1px 1px #FFFFFF inset, 0 0 3px #000000;
}
._50qd {
    padding-top: 9px;
    position: absolute;
}
._6n {
    font-size: 23px;
    line-height: 120%;
}
._6o {
    font-size: 19px;
    line-height: 126%;
}
._6p {
    font-size: 17px;
    line-height: 22px;
}
._6q {
    font-size: 15px;
    line-height: 20px;
}
._6s {
    color: #333333;
}
._6t {
    color: #666666;
}
._6u {
    color: #999999;
}
._7g {
    color: #FFFFFF;
}
._6v {
    font-weight: bold;
}
._mf {
    font-weight: normal;
}
._6w {
    text-align: left;
}
._6x {
    text-align: center;
}
._6y {
    text-align: right;
}
._6z {
    text-align: justify;
}
.loggedout_menubar_container {
    background-color: #ffffff;
    height: 82px;
    min-width: 1080px;
}
.loggedout_menubar {
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}
.loggedout_menubar .fb_logo {
    margin-top: 17px;
}
.loggedout_menubar label.menu_login_show_link {
    color: #98A9CA;
    position: relative;
    top: 19px;
}
._58mq select {
    font-size: 13px;
    height: 30px;
    padding: 5px;
}
._58mr {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
}
._59zo ._58mr {
    color: #9197A3;
    float: left;
    font-size: 16px;
}
._59zo ._58mq {
    margin-right: 0;
}
._5k_4 {
    display: inline-block;
}
._3pmp {
    margin-right: 0;
}
._5k_5 {
    position: relative;
}
._58ms {
    display: inline-block;
    max-width: 140px;
    vertical-align: middle;
}
._5dva {
    padding-right: 6px;
}
._59zo ._58mq ._55pe {
    color: #9197A3;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    width: 85px;
}
._59zo ._58mq ._5dv9 ._55pe {
    color: #000000;
}
._59zo ._58mq .selected ._55pe {
    color: #FFFFFF;
}
._58ms {
    font-size: 11px;
    max-width: 150px;
}
._59zo ._58ms {
    color: #3B5998;
    font-size: 9px;
    max-width: 300px;
    text-align: left;
    vertical-align: text-top;
}
._5dgj ._58mr, ._5dgj ._58ms {
    color: #FFFFFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
._5dgj ._58ms a {
    color: #FFFFFF;
    font-weight: bold;
}
._58mq ._5k_5 ._5k_6, ._58mq ._5k_5 ._5k_7 {
    top: 4px;
}
._58mw {
    line-height: 16px;
    padding-top: 10px;
}
._58mw h2 {
    padding-bottom: 3px;
}
._58mw .captcha_input {
    margin: 5px 0;
}
._58mx {
    margin-right: 50px;
}
._58my {
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-top: 6px;
}
._58mz {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: -239px -494px;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 17px;
    margin-top: 5px;
    width: 12px;
}
#captcha_response {
    padding: 3px;
}
._5633 {
    font-size: 13px;
    max-width: 300px;
    padding: 13px;
}
._5633._5634 {
    color: #FFFFFF;
}
._5633._5635 {
    background: none repeat scroll 0 0 #DDAE2B;
    color: #FFFFFF;
}
._58mf div._5634 ._5dba {
    border-color: #8B0300;
    border-style: solid;
}
._58mf ._5635 ._5dba {
    border-color: #DDAE2B;
    border-style: solid;
}
._58mf ._5636 ._5dba {
    border-color: #6FB554;
    border-style: solid;
}
._5dbb {
    position: relative;
}
._5dbb ._5dbc, ._5dbb ._5dbd {
    display: none;
    position: absolute;
    right: 9px;
    top: 9px;
}
._5dbb._5634 ._5dbc, ._5dbb._5635 ._5dbd {
    display: inline;
}
._58mf {
    margin: 0 auto;
    padding-bottom: 30px;
}
._59zo._58mf {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
    padding-bottom: 0;
    width: 410px;
}
.timelineSignUpDialog ._58mf {
    padding-bottom: 0;
}
._58mi {
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}
._59zo ._1lch {
    border-top: 1px solid #A0A9C0;
}
._59zo ._58mi {
    background: -moz-linear-gradient(#637BAD, #4F67A4) repeat scroll 0 0 transparent;
    border: 1px solid #1D3871;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #6F85B3 inset, 0 2px 1px rgba(0, 0, 0, 0.18);
    color: #FFFFFF;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 51px;
    line-height: 51px;
    padding: 0;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    width: 406px;
}
._59zo ._58mi:active {
    background: -moz-linear-gradient(#526AA5, #546CA6) repeat scroll 0 0 transparent;
}
._58mj {
    font-size: 16px;
}
._58mk {
    border-top: 1px solid #A0A9C0;
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}
._58ml {
    margin-left: 10px;
    position: relative;
    top: 3px;
}
._59zo ._58ml {
    margin-left: 371px;
    margin-top: 15px;
    position: absolute;
    top: auto;
}
._58mm {
    float: left;
}
._59zo ._58mm {
    float: right;
    margin-right: 0;
}
._58mn {
    background: none repeat scroll 0 0 #FFEBE8;
    border: 1px solid #DD3C10;
    line-height: 15px;
    margin: 10px 0 0;
    overflow: hidden;
    text-align: center;
}
._58mo {
    padding: 7px 3px;
}
._5k_2 {
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    display: inline-block;
    padding: 5px 0 5px 4px;
}
._5k_2:first-child {
    margin-right: 4px;
}
._5k_3 {
    display: inline-block;
}
._59zo ._5k_3 {
    position: relative;
}
._58mt {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}
._59zo ._3tkt {
    color: #9197A3;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    vertical-align: middle;
}
._59zo ._5wa2 {
    margin-bottom: 12px;
}
._59zo ._58mt {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding-top: 1px;
    vertical-align: top;
}
.ie10 ._59zo ._58mt > input + span:before, .gecko ._59zo ._58mt > input + span:before {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 19px;
    width: 18px;
}
.ie10 ._59zo ._58mt > input:active + span:before, .gecko ._59zo ._58mt > input:active + span:before {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: 0 -20px;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.ie10 ._59zo ._58mt > input:focus + span:before, .gecko ._59zo ._58mt > input:focus + span:before {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: 0 -40px;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.ie10 ._59zo ._58mt > input:disabled + span:before, .gecko ._59zo ._58mt > input:disabled + span:before {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: 0 -60px;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.ie10 ._59zo ._58mt > input:checked + span:before, .gecko ._59zo ._58mt > input:checked + span:before {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: -20px 0;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.ie10 ._59zo ._58mt > input:checked:active + span:before, .gecko ._59zo ._58mt > input:checked:active + span:before {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: -20px -20px;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.ie10 ._59zo ._58mt > input:checked:focus + span:before, .gecko ._59zo ._58mt > input:checked:focus + span:before {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: -20px -40px;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.ie10 ._59zo ._58mt > input:checked:disabled + span:before, .gecko ._59zo ._58mt > input:checked:disabled + span:before {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: -20px -60px;
    background-repeat: no-repeat;
    background-size: auto auto;
}
._5dgj label._58mt {
    color: #FFFFFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
._58mf ._58mg {
    border-color: #BDC7D8;
    border-radius: 5px 5px 5px 5px;
    margin: 0;
    width: 377px;
}
._59zo._58mf ._58mg {
    border-color: #C9CACD;
    border-radius: 3px 3px 3px 3px;
    width: 388px;
}
._58mf .uiStickyPlaceholderInput {
    background: none repeat scroll 0 0 white;
    border-radius: 5px 5px 5px 5px;
    width: 399px;
}
._59zo._59zo .uiStickyPlaceholderInput {
    border-radius: 5px 5px 5px 5px;
    width: 410px;
}
._58mf .uiStickyPlaceholderInput .placeholder {
    -moz-box-sizing: border-box;
    overflow: hidden;
    padding-left: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gecko.mac ._58mf ._58mg, ._58mf ._58mg, ._58mf .uiStickyPlaceholderInput .placeholder {
    font-size: 18px;
    padding: 8px 10px;
}
._59zo._58mf .uiStickyPlaceholderInput .placeholder {
    color: #9197A3;
}
._59zo._58mf ._58mg, ._59zo._58mf .uiStickyPlaceholderInput .placeholder {
    font-size: 16px;
    padding: 10px;
}
._5vbc {
    border-color: #BDC7D8;
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    padding: 8px 10px;
}
.gecko.mac ._59zo._58mf .uiStickyPlaceholderInput .placeholder {
    padding-left: 12px;
}
.gecko.mac ._59zo._58mf .inputtext {
    padding-bottom: 8px;
}
._58mh {
    width: 399px;
}
._59zo ._58mh {
    width: 410px;
}
._58mh ._58mg {
    width: 172px;
}
._59zo ._58mh ._58mg {
    width: 179px;
}
._58mh .uiStickyPlaceholderInput {
    width: 194px;
}
._59zo ._58mh .uiStickyPlaceholderInput {
    width: 201px;
}
._58mu {
    width: 399px;
}
._59zo ._58mu {
    width: 408px;
}
._58mu ._58mv {
    color: #777777;
    font-size: 11px;
    width: 316px;
}
._59zo ._58mu ._58mv {
    color: #9197A3;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 360px;
}
._5cg9 {
    margin-bottom: 5px;
    margin-top: 5px;
}
._5bmw ._58mv {
    border: 1px solid #9197A3;
    max-height: 120px;
    overflow-y: scroll;
    padding: 4px;
}
._5bmw ._58mv ~ .uiInputLabel {
    margin-bottom: 5px;
    margin-top: 5px;
}
._5bmw ._5cga {
    font-size: 12px;
}
._5dgj ._58mv {
    color: #FFFFFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
._5dgj ._58mv a {
    color: #FFFFFF;
    font-weight: bold;
}
._52lp {
}
._52lp ._52lq {
    color: #141823;
    font-family: 'Freight Sans Bold','lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 40px;
    font-weight: normal;
    white-space: nowrap;
}
._52lp._59d- ._52lq {
    font-size: 36px;
}
._52lp._59zm ._52lq {
    color: #141823;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 30px;
    text-align: center;
}
._52lp ._52lr {
    color: #4E5665;
    font-family: 'Freight Sans','lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
}
._52lp._59d- ._52lr {
    color: #141823;
    font-size: 19px;
}
._52lp._59zm ._52lr {
    color: #8E989E;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-align: center;
}
.signupBanner div.signup_bar_container {
    background-color: transparent;
}
.signupBanner .signup_box {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 980px;
}
.signupBanner .signup_btn {
    left: 180px;
    position: absolute;
    top: -42px;
}
._572t ._53iv {
    padding: 12px;
}
._572t ._53ij {
    background-color: #BE4B49;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, 0.75), 0 1px 10px rgba(0, 0, 0, 0.35);
    color: #FFFFFF;
}
._572t ._572u {
    background-color: #BE4B49;
    border-color: #D3D6DB;
    margin: 0 12px;
    padding: 8px 0;
}
._572t ._53il {
    padding-top: 18px;
}
._572t ._53im {
    padding-right: 18px;
}
._572t ._53ik {
    padding-bottom: 18px;
}
._572t ._53in {
    padding-left: 18px;
}
._572t ._53il ._53io {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: -194px -481px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 11px;
    top: 7px;
    width: 22px;
}
._572t ._53im ._53io {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: -183px -494px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 22px;
    right: 7px;
    width: 11px;
}
._572t ._53ik ._53io {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: -171px -481px;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: 5px;
    height: 13px;
    width: 22px;
}
._572t ._53in ._53io {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-position: -171px -494px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 22px;
    left: 7px;
    width: 11px;
}
.UIPage_LoggedOut .UIFullPage_Container, .UIPage_LoggedOut .UIStandardFrame_Container {
    margin-top: 26px;
}
.UIPage_LoggedOut .fbPhotosGrid .photoDetails {
    width: inherit;
}
.sp_W39fzL2lt2n {
    background-image: url("/rsrc.php/v2/yC/r/Kj6igUcYUI7.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    display: inline-block;
    height: 22px;
    width: 11px;
}
.sp_W39fzL2lt2n.sx_534be7 {
    background-position: -239px -494px;
    height: 15px;
}
.sp_W39fzL2lt2n.sx_14c7f9 {
    background-position: -171px -481px;
    height: 12px;
    width: 22px;
}
.sp_W39fzL2lt2n.sx_0cf41c {
    background-position: -171px -494px;
}
.sp_W39fzL2lt2n.sx_3b01a8 {
    background-position: -183px -494px;
}
.sp_W39fzL2lt2n.sx_cb3c61 {
    background-position: -194px -481px;
    height: 11px;
    width: 22px;
}
.sp_W39fzL2lt2n.sx_77a8c5 {
    background-position: 0 -481px;
    height: 36px;
    width: 170px;
}
.sp_W39fzL2lt2n.sx_3c2977 {
    background-position: 0 0;
    height: 480px;
    width: 640px;
}
.sp_W39fzL2lt2n.sx_024af9 {
    background-position: -195px -494px;
    height: 21px;
    width: 21px;
}
.sp_W39fzL2lt2n.sx_52425c {
    background-position: -217px -494px;
    height: 21px;
    width: 21px;
}
#bootloader_71cnc {
    height: 42px;
}
.bootloader_71cnc {
    display: block !important;
}
