@{
    ViewBag.Title = "Offers in Cash and Carry";
    if (!ViewBag.browser)
    {
        Layout = "";
    }
}
<style>
    .myDialogClass .ui-widget-header {
  background:#ce0b10;
  font-size:large
}
.ui-dialog .ui-dialog-titlebar-close {
    background: white;
    color:Black;
    vertical-align:text-top;
    font-size:small !important;    
}
.ui-button-text
{
    text-indent:0px !important;
    padding:0px !important;    
    font-family: !important;
}
</style>
<div>
<div id="priceComparisonDiv" style="display:none"> </div>
</div>
<script language="javascript">

    function openPriceCompare(ctrl) {
       
        var product = $(ctrl).attr("product-name");
        var imgURL = $(ctrl).attr("product-url");
        var imgStr = imgURL;

        $.ajax({
            async: false,
            cache: false,
            type: "GET",
            url: "/Trade/PriceCompare",
            data: { Product: product, imageURL: imgURL },
            success: function (data) {

                $("#priceComparisonDiv").html(data);
                $("#priceComparisonDiv").dialog({ modal: true,
                    title: 'Price Comparison',
                    width: "60%",
                    height: "auto",
                    dialogClass: "myDialogClass",
                    closeText: "X"
                });


            }
        });


    }
</script>
<div>    
    @Html.Partial("RetailersMenu")       
    <div id="searchresult" >          
        @Html.Partial("RetailersBigdiv")          
    </div>
</div>
