<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DomainName" value="localhost:1624/" />
    <!--Facebook api start -->
    <add key="facebookappid" value="1474097276244894" />
    <add key="facebookappsecret" value="b379df6672a4037cc9f75a43142d79b1" />
    <add key="DefaultCredentials" value="false" />
    <add key="SSLEnable" value="false" />
    <add key="ExchangeServer" value="mail.dealz-local.co.uk" />
    <add key="SystemUserName" value="deal@dealz-local.co.uk" />
    <add key="SystemPassword" value="sundar" />
    <add key="SenderMailId" value="rajakalyanasundaram@gmail.com" />
    <add key="recipientMailId" value="rajakalyanasundaram@gmail.com" />
    <add key="CC" value="rajakalyanasundaram@gmail.com" />
    <add key="MailImagePath" value="http://londisconveniencestore.co.uk.foxglove.arvixe.com" />
    <add key="ResetPasswordStart" value="" />
    <add key="ResetPasswordEnd" value="" />
    <add key="AllShopsImagePath" value="http://londisconveniencestore.co.uk.foxglove.arvixe.com" />
    <add key="PublicOfferImagePath" value="http://londisconveniencestore.co.uk.foxglove.arvixe.com" />
    <add key="MenuPath" value="www.dealzlocal.co.uk" />

  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

    <!--Facebook api over -->
  </appSettings>
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000">
          <converters>
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>-->

  <system.web>
    <sessionState mode="InProc" timeout="30" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <!--<authentication mode="Forms">
      <forms loginUrl="~/Trade/TradeLogin" timeout="2880" />
    </authentication>-->

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  <httpRuntime requestValidationMode="2.0" />
  </system.web>

  <system.webServer>
    <security>
    <requestFiltering>
        <requestLimits maxAllowedContentLength="1000000" />
    </requestFiltering>
</security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="Dev" connectionString="Data Source=foxglove.arvixe.com;Initial Catalog=Idealmall_Loundis;Persist Security Info=True;User ID=deal;Password=thirai@123;Connect Timeout=600" />
   <!-- <add name="Dev" connectionString="Data Source=holly.arvixe.com;Initial Catalog=Idealmall;Persist Security Info=True;User ID=vipl;Password=selvaraj123;Connect Timeout=600" />-->
    <add name="IdealmallEntities" connectionString="metadata=res://*/IdealMallModel.csdl|res://*/IdealMallModel.ssdl|res://*/IdealMallModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=foxglove.arvixe.com;initial catalog=Idealmall_Loundis;user id=deal;password=thirai@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="httpLargeMessageStream" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />

        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="WCFServiceBinding" maxReceivedMessageSize="10485760" maxBufferSize="10485760" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServBehave" name="IdealMallWeb.Services.DealLocalService">
        <endpoint address="soapService" binding="basicHttpBinding" contract="IdealMallWeb.Services.IDealLocalService" />
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="IdealMallWeb.Services.IDealLocalService" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFServiceBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="restPoxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>

      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServBehave">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          -->
    <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
    <!--
          <serviceMetadata httpGetEnabled="true"/>
          -->
    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
    <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
